doctype html
html(lang="en")
  head
    title ivi test
    link(rel='stylesheet', href='css/styles.css')
    script(src='/js/main.js')
  body(class='body')
   
    div(class='diamond') 
      span Go!
    div(class='bg') 
    